<div class="sidenav">
  <ngx-ui-loader></ngx-ui-loader>
  <div class="login-main-text">
    <div class="logo">
      <a class="navbar-brand text-white" routerLink="/schedule"
        ><h1><i class="fa-solid fa-calendar-check"></i>Eazy-Booking</h1></a
      >
    </div>
    <div class="content-info">
      <h3>Slot Booking Section</h3>
      <p>Here you can edit your <br />Conference room's timing.</p>
    </div>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Event Title</label>
          <input
            type="text"
            class="form-control"
            placeholder="Event Title....."
            required
            formControlName="eventTitle"
          />
        </div>
        <div class="form-group">
          <label for="appt">Choose Start time for your Meeting:</label>
          <input
            type="time"
            id="appt"
            class="form-control"
            min="09:00"
            max="18:00"
            required
            formControlName="eventStart"
            (focus)="errormsg = undefined"
          />
        </div>
        <div class="form-group">
          <label for="appt">Choose End time for your Meeting:</label>
          <input
            type="time"
            id="appt"
            class="form-control"
            min="09:00"
            max="18:00"
            required
            formControlName="eventEnd"
            (focus)="errormsg = undefined"
          />
        </div>
        <div *ngIf="errormsg !== undefined" class="alert alert-danger">
          <small>{{ errormsg }}</small>
        </div>
        <div class="buttons">
          <div class="form-button cancel-button">
            <button class="btn btn-black">Submit</button>
          </div>
          <div class="form-button submit-button">
            <button
              type="button"
              (click)="onCancel()"
              class="btn btn-secondary"
            >
              Cancel
            </button>
          </div>
        </div>
      </form>
      <div>
        <hr />
        <div class="sss"
          >Do you want to see schedule ?
          <a routerLink="/schedule">schedule</a></div
        >
      </div>
    </div>
  </div>
</div>
