<div class="sidenav">
  <div class="login-main-text">
    <div class="logo"><a class="navbar-brand text-white" routerLink="/schedule"><h1><i class="fa-solid fa-calendar-check"></i>Eazy-Booking</h1></a></div>
    <div class="content-info">
      <h3>Signup Page</h3>
      <p>Register here to access<br />Conference room.</p>
    </div>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form [formGroup]="signupForm" (ngSubmit)="signupUser()">
        <div class="form-group">
          <label>User Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="User Name"
            formControlName="userName"
            required
          />
        </div>
        <div class="form-group">
          <label>Email</label>
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            formControlName="emailId"
            (focus)="onFocus()"
            required
          />

          <div *ngIf="errormsg !== undefined" class="alert alert-danger">
            <small *ngIf="errormsg !== undefined">{{ errormsg }}</small>
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            formControlName="password"
          />
          <div
            *ngIf="f.password.touched && f.password.invalid"
            class="alert alert-danger"
          >
            <small *ngIf="f.password.errors?.required"
              >Password is required.</small
            >
          </div>
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            formControlName="confirmPassword"
            required
          />
          <div *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid" class="alert alert-danger">
            <small *ngIf="f.confirmPassword.errors?.required"
              >Password is required.</small
            >
            <small *ngIf="f.confirmPassword.errors?.confirmedValidator"
              >Password and Confirm Password must be match.</small
            >
          </div>
        </div>
        <div class="buttons">
          <div class="form-button submit-button"><button class="btn btn-black">Register</button></div>
          <div class="form-button cancel-button"><button class="btn btn-secondary" routerLink="/schedule" >Cancel</button></div>
        </div>
      </form>
      <div>
        <hr/>
        <div class="sss">Already user?<a routerLink="/login">LogIn</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-pulse"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
> -->
