body {
    font-family: "Lato", sans-serif;
}

.main-head{
    height: 100px;
    background: rgb(255, 255, 255);
   
}

.sidenav {
    height: 100%;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
    background-color: rgb(255, 254, 254);
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}

}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }
    .register-form{
        margin-top: 0%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 50%;
    }

    .register-form{
        margin-top: 20%;
    }

}

.login-main-text{
    /* margin-top: 20%; */
    /* padding: 60px; */
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-main-text h2{
    font-weight: 500;
}

.logo {
    margin: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.logo h1:hover {
    cursor: pointer;
}

.content-info {
    margin: 40%;
    margin-left: 20%;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}
.sss{
    /* margin-top: 20%; */
    text-align: center;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn {
    margin: 5px;
}

.btn-secondary {
    margin-right: 0;
}