.main-box {
  display: flex;
  flex-flow: column;
  height: 100%;
  flex: 0 1 auto;
}

.main-header {
  flex: 0 1 auto;
}

.calendar-container {
  flex: 1 1 auto;
  padding: 5px;
  height: 100%;
}

.calendar {
  overflow-y: scroll;
}

button {
  background-color: #000 !important;
  float: right;
}
.btn-black {
  background-color: #000 !important;
  color: #fff;
}

.right-side-button {
  float: right;
}
.navbar-header {
  width: 100%;
  /* height: 100%; */
}
