/* .main-box {
  display: flex;
  flex-flow: column;
  height: 100%;
  flex: 0 1 auto;
}

.main-header {
  flex: 0 1 auto;
} */

.parent-spinner {
  position: relative;
}

.calendar-container {
  /* flex: 1 1 auto; */
  padding: 5px;
  /* height: 100%; */
}

.view-green {
  background-color: green;
}

/* .calendar { */
/* background-color: grey; */
/* overflow-y: scroll; */
/* } */
.btn-group {
  background-color: #000 !important;
  float: right;
}

button {
  background-color: #000 !important;
  float: right;
  margin-right: 5px;
}
.btn-black {
  background-color: #000 !important;
  color: #fff;
}

.right-side-button {
  float: right;
}
.navbar-header {
  width: 100%;
  /* height: 100%; */
}
