<div class="sidenav">
  <div class="login-main-text">
    <h2>
      Eazy-Booking<br />
      Admin Page
    </h2>
    <p>Admin Dashboard</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <h3>Room Details</h3>
      <ol class="list-group list-group-numbered">
        <li class="list-group-item">
          Room1
          <span class="pull-right">
            <button type="button" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-black" routerLink="/room-edit">
              Edit
            </button>
          </span>
        </li>
        <li class="list-group-item">
          Room2
          <span class="pull-right">
            <button type="button" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-black" routerLink="/room-edit">
              Edit
            </button>
          </span>
        </li>
        <li class="list-group-item">
          Room3
          <span class="pull-right">
            <button type="button" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-black" routerLink="/room-edit">
              Edit
            </button>
          </span>
        </li>
      </ol>
      <span class="pull-right">
        <button type="submit" class="btn btn-black" routerLink="/room-add">
          Add Room
        </button></span
      >
    </div>
  </div>
</div>
