<div class="sidenav">
  <ngx-ui-loader></ngx-ui-loader>
  <div class="login-main-text">
    <div class="logo">
      <a class="navbar-brand text-white" routerLink="/schedule"
        ><h1><i class="fa-solid fa-calendar-check"></i>Eazy-Booking</h1></a
      >
    </div>
    <div class="content-info">
      <h3>My Event Page</h3>
      <p>You can add your Events</p>
    </div>
  </div>
</div>
<div class="main">
  <div class="col-md-7 col-sm-12">
    <div class="container">
      <div class="content-header">
        <div>
          <h3>My Events</h3>
        </div>
        <div class="add-event-title">
          <span class="pull-right btn btn-black" routerLink="/events">
            <i class="fa-solid fa-calendar-plus fa-lg"></i>Add Event
          </span>
        </div>
      </div>
      <ul class="list-group list-group-numbered">
        <li *ngFor="let event of myEvents" class="list-group-item">
          <div class="w-100 justify-content-between">
            <div class="event-info">
              <i class="fa-solid fa-calendar"></i>
              <h5 class="mb-1">{{ event.eventDetails.title }}</h5>
            </div>
            <div class="room-info">
              <h6>Room - {{ event.roomName }}</h6>
            </div>
            <small class="time-info">
              {{ getReadableDate(event.eventDetails.start) }} &nbsp; &nbsp;
              &nbsp; &nbsp; {{ getReadableTime(event.eventDetails.start) }} -
              {{ getReadableTime(event.eventDetails.end) }}
            </small>
            <span class="pull-right">
              <i
                class="fa-solid fa-pen-to-square fa-lg"
                (click)="editEvent(event)"
              ></i>
              <i
                class="fa-solid fa-trash-can fa-lg"
                (click)="deleteEvent(event)"
              ></i>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
