<div class="sidenav">
  <div class="login-main-text">
    <h2>
      Eazy-Booking<br />
      Room Add Page
    </h2>
    <p>Add the rooms here.</p>
  </div>
</div>
<div class="container">
  <div class="main">
    <div class="col-md-6 col-sm-12">
      <div class="login-form">
        <form [formGroup]="roomForm">
          <div class="form-group">
            <label>Room Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Room Name"
              formControlName="roomName"
              (focus)="onFocus()"
            />

            <div *ngIf="errormsg !== undefined" class="alert alert-danger">
              <small *ngIf="errormsg !== undefined">{{ errormsg }}</small>
            </div>
          </div>
          <button type="submit" class="btn btn-black" (click)="addRoom()">
            Create Room
          </button>
          <button type="submit" class="btn btn-secondary">Cancel</button>
          <br />
        </form>
      </div>
    </div>
  </div>
  <!-- <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#fff"
    type="ball-pulse"
    [fullScreen]="true"
    ><p style="color: white">Loading...</p></ngx-spinner
  > -->
</div>
