<div class="container">
  <div class="main">
    <div class="col-md-6 col-sm-12">
      <div class="login-form">
        <form>
          <div class="form-group">
            <label>Room Name</label>
            <input type="text" class="form-control" placeholder="Room Name" />
          </div>
          <div class="form-group">
            <label>Room Id</label>
            <input type="text" class="form-control" placeholder="Room Id" />
          </div>
          <button type="submit" class="btn btn-black">Book Room</button>
          <button type="submit" class="btn btn-secondary">Cancel</button>
          <br />
        </form>
      </div>
    </div>
  </div>
</div>
