<div class="sidenav">
    <!-- <ngx-ui-loader></ngx-ui-loader> -->
    <div class="logo">
      <a class="navbar-brand text-white" routerLink="/schedule"
        ><h1><i class="fa-solid fa-calendar-check"></i>Eazy-Booking</h1></a
      >
      <div class="content-info">
        <h3>Admin Page</h3>
        <p>Admin dashboard</p>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="col-md-7 col-sm-12">
      <div class="container">
        <div class="content-header">
          <div>
            <h3>All Rooms</h3>
          </div>
          <div class="add-room">
            <span class="pull-right btn btn-black" routerLink="/admin/room-add">
              <i class="fa-solid fa-calendar-plus fa-lg"></i>Add Room
            </span>
          </div>
        </div>
        <ul class="list-group list-group-numbered">
          <li *ngFor="let room of rooms" class="list-group-item">
            <div class="w-100 justify-content-between"></div>
            <div>
              <i class="fa-solid fa-calendar"></i>
              <h5>{{ room.roomName }}</h5>
            </div>
            <span class="pull-right">
              <i
                class="fa-solid fa-pen-to-square fa-lg"
                (click)="editRoom(room)"
              ></i>
              <i
                class="fa-solid fa-trash-can fa-lg"
                (click)="deleteRoom(room)"
              ></i>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  