/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  height: 100%;
  font-size: small;
}

.fa-solid {
  padding: 5px;
}

.fa-solid:hover {
  cursor: pointer;
}
