
    <div class="container">
        <div class="row">
            <div class="mt-3">
                <h1>Instruction</h1>
                <h2>Step 1:</h2>
                <br>
                <h4>First you have to click on account button then you will have to click  admin button.</h4>
                <br>
                <br>
                <img class="center" src="assets/images/helproom1.png">
                <br>
                <br>
                <h2>Step 2:</h2>
                <br>
                <h4>Now you are present on room editing section, You have to click on add room button for adding new room.</h4>
                <br>
                <br>
                <img class="center" src="assets/images/helproom4.png">
                <br>
                <br>
                <h2>Step 3:</h2>
                <br>
                <h4>Here, you have to give new rooms name and submit it.</h4>
                <br>
                <br>
                <img class="center" src="assets/images/helproom3.png">
                <br>
                <h2>Step 4:</h2>
                <br>
                <h4>If you want to edit room then you have to click in (1)edit icon and if you want to (2)delete room then you have to click on delete icon.</h4>
                <br>
                <br>
                <img class="center" src="assets/images/helproom2.png">
                <br>
                <hr>
            </div>
        </div>
    </div>