
    <div class="container">
        <div class="row">
            <div class="mt-3">
                <h1>Instruction</h1>
                <h2>Step 1:</h2>
                <br>
                <h4>As you can see in following picture, To  add new room for meeting,you have to perform following operation.</h4>
                <br>
                <br>
                <img class="center" src="assets/images/room1.png">
                <br>
                <br>
                <h2>Step 2:</h2>
                <br>
                <h4>Now you will be able to see following form where you have to enter room name into (1) box and then you have to press (2)crete room button. </h4>
                <br>
                <br>
                <img class="center" src="assets/images/addroom1.png">
                <br>
                <br>
                <h4>.</h4>
                <h2>Step 3:</h2>
                <br>
                <h4>If you want to Edit room then you have press on edit button, then you will navigate to Room Create page where you have to perform same operation,<br> as mention in step 2.</h4>
                <br>
                <br>
                <img class="center" src="assets/images/room2.png">
                <br>
                <br>
                <img class="center" src="assets/images/addroom1.png">
                <br>
                <br>
                <h2>Step 4:</h2>
                <br>
                <h4>If you have to delete any room then you have to press on delete button as shown below.</h4>
                <br>
                <br>
                <img class="center" src="assets/images/room3.png">
                <br>
                <br>
            </div>
        </div>
    </div>